.App {
  text-align: center;
  font-family: sans-serif;
  font-weight: 350;
  font-size: 1.2em;
}

.body-text {
  text-align: justify;
  text-align-last: left;
  line-height: 1.3;
}

h1 {
  font-size: 3.5rem;
  color:#15b08e;
  margin: 1%;
}

h2,h3,h4 {
  margin: 1%;
}

.subtext {
  font-size: 20px;
}

#warning-text {
  color:red;
  font-weight: 600;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
  margin: auto;
  margin-top: 5%;
}

.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
  margin: auto;
  margin-top: 5%;
  border-radius: 35px;
  border: 2px solid #15b08e;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
  margin: auto;
  margin-top: 5%;
}

.consent-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
  margin: auto;
  margin-top: 5%;
  line-height: 1.1;
  font-weight: 320;
}

.demo-survey {
  margin:auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 35px;
  border: 2px solid #15b08e;

}

.radio-div {
  margin:auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 75%;
  gap: 40px;
  height: 100%;
}

.countdown-timer {
  width: 500px;
  background-color: rgba(255, 0, 0, 0.152);
  border-radius: 15px;
  border: 2px solid red;
}

#demo-radio-buttons-group-label {
  font-size: 25px;
  color: black;
  margin: 0px;
}

#demographics-id {
  margin:0px;
}

#demo-align {
  margin: 5%;
}

#sidelabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.radio-group {
  margin: auto;
  padding-top: 15px;
  color:#15b08e;
}

input {
  font-size: 25px;
  height: 40px;
  width: 100px;
  padding: 0% 10px;
  border: 2px solid #15b08e;
  border-radius: 4px;
  margin-top: 20px;
}

radio {
  color: black;
}

/* Button Styling */

.advance-button {
  background-color: #6c37c7;
  color: #ffffff;
  padding: 5px 20px;
  font-size: 35px;
  border-radius: 18px;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 10%;
}

#enable-audio-button {
  background-color: #37c7a335;
  color: #37c7a3;
  padding: 10px 32px;
  font-size: 25px;
  border-radius: 15px;
  border: 0px;
  margin-bottom: 10px;
}

#start-recording-button {
  background-color: #15b08e;
  color: #ffffff;
  padding: 10px 32px;
  font-size: 25px;
  border-radius: 15px;
  border: 0px;
  margin-bottom: 10px;
}

#stop-recording-button {
  background-color: red;
  color: #ffffff;
  padding: 10px 32px;
  font-size: 25px;
  border-radius: 15px;
  border: 0px;
  margin-bottom: 10px;
}

.re-record-button {
  background-color: #37c7a3;
  color: #ffffff;
  padding: 10px 32px;
  font-size: 25px;
  border-radius: 15px;
  border: 0px;
  margin-top:10px;
  margin-bottom: 10px;
}

